<a href="https://colab.research.google.com/github/splendidcomputer/cora_project/blob/main/Cora_Classification_ClassicML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Clone all the repository including the dataset in Colab:

In [2]:
!git clone https://github.com/splendidcomputer/cora_project

Cloning into 'cora_project'...
remote: Enumerating objects: 320, done.
remote: Counting objects: 100% (230/230), done.
remote: Compressing objects: 100% (156/156), done.
remote: Total 320 (delta 148), reused 120 (delta 74), pack-reused 90
Receiving objects: 100% (320/320), 516.61 KiB | 5.33 MiB/s, done.
Resolving deltas: 100% (200/200), done.

Import required libries:

In [3]:
import pandas as pd
import numpy as np

from keras.utils import np_utils

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import StratifiedKFold

from sklearn.ensemble import RandomForestClassifier as RF
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis as QDA
from xgboost import XGBClassifier as XGB
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier as KNN
from sklearn.linear_model import LogisticRegression as LR
from sklearn.naive_bayes import GaussianNB as GNB
from sklearn.naive_bayes import MultinomialNB as MNB

from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

Load data as data frames using pandas library.

In [4]:
cora = pd.read_csv("./cora_project/cora.content", delimiter="\t", header=None)
y_labels = ["Case_Based", "Genetic_Algorithms", "Neural_Networks", "Probabilistic_Methods", "Reinforcement_Learning", "Rule_Learning", "Theory"]

for i,label in enumerate(y_labels):
    cora[1434][cora[1434]==label] = i

<ipython-input-4-4b8632f12a1b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cora[1434][cora[1434]==label] = i

Select input data from dataset and convert it to numpy array:

In [5]:
X = np.asarray(cora.iloc[:,1:-1]).astype('float32')
y = np.asarray(cora.iloc[:,-1]).astype('float32')

Encode class values as integers:

In [6]:

encoder = LabelEncoder()
encoder.fit(y)
encoded_Y = encoder.transform(y)

Create a list of all the machine learning models:

In [7]:
list_models = [RF(), LDA(), QDA(), XGB(), SVC(kernel="linear"), SVC(kernel="rbf"), KNN(), LR(), GNB(), MNB()]
list_models_name = ["RF", "LDA", "QDA", "XGB", "SVM_Linear", "SVM_RBF", "KNN", "LR", "GNB", "MNB"]

Train all modeles using 10-fold cross validation:

In [8]:
kFold = StratifiedKFold(n_splits=10)
list_all_models_predictions = []
total_model_scores = []
for i,model in enumerate(list_models):
  model_predictions = []
  model_score = []
  counter = 1
  for train, test in kFold.split(X, encoded_Y):
    print("   Fold " + str(counter))
    counter+=1
    model.fit(X[train], encoded_Y[train])
    model_predictions.append(model.predict(X[test]))
    model_score.append([accuracy_score(encoded_Y[train],model.predict(X[train])), accuracy_score(encoded_Y[test],model.predict(X[test]))])

  list_all_models_predictions.append(model_predictions)
  total_model_scores.append(model_score)

  print("Model " + str(i+1) + " Trained!")

   Fold 1
   Fold 2
   Fold 3
   Fold 4
   Fold 5
   Fold 6
   Fold 7
   Fold 8
   Fold 9
   Fold 10
Model 1 Trained!
   Fold 1
   Fold 2
   Fold 3
   Fold 4
   Fold 5
   Fold 6
   Fold 7
   Fold 8
   Fold 9
   Fold 10
Model 2 Trained!
   Fold 1

/usr/local/lib/python3.8/dist-packages/sklearn/discriminant_analysis.py:878: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")

   Fold 2

/usr/local/lib/python3.8/dist-packages/sklearn/discriminant_analysis.py:878: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")

   Fold 3

/usr/local/lib/python3.8/dist-packages/sklearn/discriminant_analysis.py:878: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")

   Fold 4

/usr/local/lib/python3.8/dist-packages/sklearn/discriminant_analysis.py:878: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")

   Fold 5

/usr/local/lib/python3.8/dist-packages/sklearn/discriminant_analysis.py:878: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")

   Fold 6

/usr/local/lib/python3.8/dist-packages/sklearn/discriminant_analysis.py:878: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")

   Fold 7

/usr/local/lib/python3.8/dist-packages/sklearn/discriminant_analysis.py:878: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")

   Fold 8

/usr/local/lib/python3.8/dist-packages/sklearn/discriminant_analysis.py:878: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")

   Fold 9

/usr/local/lib/python3.8/dist-packages/sklearn/discriminant_analysis.py:878: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")

   Fold 10

/usr/local/lib/python3.8/dist-packages/sklearn/discriminant_analysis.py:878: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")

Model 3 Trained!
   Fold 1
   Fold 2
   Fold 3
   Fold 4
   Fold 5
   Fold 6
   Fold 7
   Fold 8
   Fold 9
   Fold 10
Model 4 Trained!
   Fold 1
   Fold 2
   Fold 3
   Fold 4
   Fold 5
   Fold 6
   Fold 7
   Fold 8
   Fold 9
   Fold 10
Model 5 Trained!
   Fold 1
   Fold 2
   Fold 3
   Fold 4
   Fold 5
   Fold 6
   Fold 7
   Fold 8
   Fold 9
   Fold 10
Model 6 Trained!
   Fold 1
   Fold 2
   Fold 3
   Fold 4
   Fold 5
   Fold 6
   Fold 7
   Fold 8
   Fold 9
   Fold 10
Model 7 Trained!
   Fold 1
   Fold 2
   Fold 3
   Fold 4
   Fold 5
   Fold 6
   Fold 7
   Fold 8
   Fold 9
   Fold 10
Model 8 Trained!
   Fold 1
   Fold 2
   Fold 3
   Fold 4
   Fold 5
   Fold 6
   Fold 7
   Fold 8
   Fold 9
   Fold 10
Model 9 Trained!
   Fold 1
   Fold 2
   Fold 3
   Fold 4
   Fold 5
   Fold 6
   Fold 7
   Fold 8
   Fold 9
   Fold 10
Model 10 Trained!

Create tables for all models predictions after training:

In [9]:
counter = 0
for list_predictions in list_all_models_predictions:
  final_predictions = []
  for fold_prediction in list_predictions:
    for item in fold_prediction:
      final_predictions.append(y_labels[item])
  list_ids = list(cora.iloc[:,0])
  d = {'IDs': list_ids, 'Predictions': final_predictions}
  df = pd.DataFrame(data=d)
  df.to_csv(list_models_name[counter] + "_final_predictions.tsv", sep="\t")
  counter+=1

Create tables for all models accuracies after training:

In [10]:
counter = 0
d = {'Model': [], 'Fold_1': [], 'Fold_2': [], 'Fold_3': [], 'Fold_4': [], 'Fold_5': [], 'Fold_6': [], 'Fold_7': [], 'Fold_8': [], 'Fold_9': [], 'Fold_10': [],'Average': []}
df_test = pd.DataFrame(data=d)
df_train = pd.DataFrame(data=d)
for fold_scores in total_model_scores:
  fold_val_score_list_test = [list_models_name[counter]]
  fold_val_score_list_train = [list_models_name[counter]]
  for fold_score in fold_scores:
    fold_val_score_list_test.append(fold_score[1])
    fold_val_score_list_train.append(fold_score[0])
  fold_val_score_list_test.append(np.mean(np.array(fold_scores), axis=0)[1])
  fold_val_score_list_train.append(np.mean(np.array(fold_scores), axis=0)[0])
  # print(fold_val_score_list)
  df_test.loc[len(df_test)] = fold_val_score_list_test
  df_train.loc[len(df_train)] = fold_val_score_list_train
  counter+=1

Display test results:

In [11]:
df_test

,Model,Fold_1,Fold_2,Fold_3,Fold_4,Fold_5,Fold_6,Fold_7,Fold_8,Fold_9,Fold_10,Average
0,RF,0.760148,0.734317,0.778598,0.752768,0.749077,0.778598,0.808118,0.745387,0.759259,0.718519,0.758479
1,LDA,0.642066,0.638376,0.664207,0.634686,0.623616,0.656827,0.642066,0.645756,0.659259,0.596296,0.640316
2,QDA,0.107011,0.132841,0.129151,0.092251,0.129151,0.129151,0.140221,0.129151,0.100000,0.159259,0.124819
3,XGB,0.719557,0.690037,0.767528,0.752768,0.715867,0.734317,0.756458,0.712177,0.792593,0.692593,0.733389
4,SVM_Linear,0.704797,0.719557,0.749077,0.708487,0.708487,0.734317,0.730627,0.715867,0.762963,0.725926,0.726011
5,SVM_RBF,0.756458,0.730627,0.789668,0.749077,0.738007,0.756458,0.771218,0.752768,0.803704,0.711111,0.755910
6,KNN,0.464945,0.464945,0.476015,0.479705,0.439114,0.479705,0.431734,0.472325,0.477778,0.407407,0.459367
7,LR,0.756458,0.782288,0.774908,0.774908,0.778598,0.771218,0.778598,0.734317,0.796296,0.766667,0.771425
8,GNB,0.494465,0.476015,0.535055,0.509225,0.476015,0.487085,0.535055,0.501845,0.488889,0.455556,0.495920
9,MNB,0.756458,0.760148,0.774908,0.793358,0.767528,0.771218,0.789668,0.789668,0.803704,0.740741,0.774740

Display train results:

In [12]:
df_train

,Model,Fold_1,Fold_2,Fold_3,Fold_4,Fold_5,Fold_6,Fold_7,Fold_8,Fold_9,Fold_10,Average
0,RF,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,LDA,0.979893,0.981535,0.979073,0.981124,0.981945,0.977842,0.979073,0.981535,0.979081,0.982773,0.980387
2,QDA,0.258104,0.162085,0.151005,0.220763,0.162495,0.149364,0.295856,0.158802,0.231747,0.299016,0.208924
3,XGB,0.832581,0.835453,0.828888,0.826836,0.836274,0.823143,0.829298,0.829298,0.825677,0.837572,0.830502
4,SVM_Linear,0.997128,0.997948,0.997948,0.997538,0.996717,0.996717,0.997538,0.998359,0.997129,0.997949,0.997497
5,SVM_RBF,0.959787,0.959376,0.958966,0.956094,0.955273,0.952811,0.956504,0.958145,0.958983,0.958983,0.957492
6,KNN,0.679114,0.712762,0.659417,0.710300,0.689372,0.683627,0.688141,0.697579,0.693191,0.687039,0.690054
7,LR,0.988510,0.989331,0.990152,0.989741,0.988921,0.986048,0.987279,0.990152,0.988925,0.988925,0.988799
8,GNB,0.769799,0.775133,0.772261,0.784982,0.793188,0.766516,0.775133,0.774313,0.779327,0.778507,0.776916
9,MNB,0.881822,0.882232,0.882643,0.887156,0.882232,0.884284,0.880591,0.883874,0.877769,0.885972,0.882857

Store results in tsv files:

In [14]:
df_train.to_csv("ML_Train_ACC.tsv", sep="\t")
df_test.to_csv("ML_Test_ACC.tsv", sep="\t")